<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProjectX</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}" />
</head>
<body>

<div id="content">
    <div class="navbar">
        <a href="#" th:href="@{/home}" class="nav-link"><i class="fas fa-home"></i> Home</a>
        <div class="dropdown">
            <button onclick="show_hide()" class="user-icon">
                <i class="fas fa-user"></i>
            </button>

            <div id="list-items">
                <a th:href="@{/home}"> Profile </a>
                <a  th:href="@{/usersettings}"> Settings </a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" class="list-item-button"/>
                </form>
            </div>
            <span th:text="${loggedInUser != null ? loggedInUser.username : 'Guest'}"></span>


            </span>
        </div>
    </div>
    <div class="container" style="max-width: 600px">
        <div class="form-post">
            <form id="postForm" th:action="@{/createPost}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="postTitle" name="title" placeholder="Enter post title" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="postBody" name="content" rows="3" placeholder="What's on your mind?" required></textarea>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <h4>Recent Posts</h4>
        <div th:each="post : ${posts}">
            <div class="post">
                <div class="post-header">
                    <span th:text="${post.user != null and post.user.username != null ? post.user.username : 'Anonymous'}">Username</span>
                    <div class="post-date-top-right" th:text="${#temporals.format(post.postDate, 'dd MMM yyyy HH:mm')}">Formatted Date and Time</div>
                </div>

                <div class="post-title" th:text="${post.title}">Post Title</div>
                <div class="post-body" th:text="${post.content}">Post Body</div>
                <div class="post-footer" style="margin-right: 5px">
                    <i class="fas fa-arrow-up" th:onclick="'upvote(' + ${post.postId} + ')'"></i>
                    <span>10</span>
                    <i class="fas fa-arrow-down" th:onclick="'downvote(' + ${post.postId} + ')'"></i>
                    <span>2</span>
                    <i class="fas fa-comment"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/home.js}"></script>

</body>
</html>
