<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>

</head>
<body>
<div class="container">
    <div class="text-center mb-4">
        <h2>ProjectX</h2>
        <h6 class="text-muted">Sign up to see posts from your friends.</h6>
    </div>
    <div class="form-divider d-flex align-items-center">
        <div></div>
    </div>
    <form th:action="@{/signup}" th:object="${user}" method="post">
        <input type="text" th:field="*{email}" class="form-control" placeholder="Email" required pattern=".+@(trojans.dsu.edu|dsu.edu)$" title="Email must be a trojans.dsu.edu or dsu.edu address">
        <input type="text" th:field="*{username}" class="form-control" placeholder="Username" required>
        <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
    </form>
</div>
<div class="text-center signup-footer">
    <p>Have an account? <a th:href="@{/login}">Log in</a></p>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
